@inject IGameFactory gameFactory

<h3>MineSweeper</h3>

<button @onclick="@StartGame">Start game</button>

<table>
	@if (game != null)
	{
		if (game.State.Stage == Stage.Lost)
		{
			<p>You lost!</p>
		}
		else
		{
			@for (var x = 0; x < boardWidth; x++)
			{
				<tr>
					@for (int y = 0; y < boardHeight; y++)
					{
						// scoped variable is needed https://stackoverflow.com/a/54813295
						int _x = x;
						int _y = y;
						var tile = game.State.Board.GetTile(_x, _y);

						<td @onclick="()=>RevealTile(_x, _y)">@(tile.IsRevealed ? tile.IsMine ? "X" : "_" : "?"),</td>
					}
				</tr>
			}
		}
	}
</table>

@code {
	// Game instance
	IGame? game = null;

	// Config variables
	int boardWidth = 5;
	int boardHeight = 5;
	int seed = 0;
	Difficulity difficulity = Difficulity.Easy;

	// Handlers
	void StartGame()
	{
		game = gameFactory.Create(new Config(boardWidth, boardHeight, seed, difficulity));
	}

	void RevealTile(int x, int y)
	{
		if (game != null && game.State.Stage != Stage.Lost)
		{
			var state = game.RevealTile(x, y);

		}
	}
}
