@page "/administrator"
@using MineSweeper.Blazor.Server.Authentication
@attribute [Authorize(Roles = "Administrator")]

<h3>This secret page is only visible to users with administrator role</h3>

@code {

}
